#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    box-sizing: border-box;
    height: 60%;
}

.gridCell {
    background-color: gray;
    min-height: 1px;
}

.hover {
    background-color: red;
}